<section class="products">
    <div class="wrapper">
        <div class="products__title">What is included</div>
        <div class="pagination js-paginationSlider">
            <div class="pagination__item">
                Mobile apps for <br>passengers
            </div>
            <div class="pagination__item">
                Mobile apps for <br>drivers
            </div>
            <div class="pagination__item">
                Web interface for <br>passengers
            </div>
            <div class="pagination__item">
                Dispatcher <br>panel
            </div>
            <div class="pagination__item">
                B2b <br>interface
            </div>
            <div class="pagination__item">
                Admin panel for <br>you and your team
            </div>
        </div>
        <div class="counter"></div>
    </div>
    <div class="description js-descriptionSlider">
        <div class="description__item">
            <div class="description__info wrapper">
                <div class="description__img">
                    <img src="img/notebook.png" alt="Product">
                </div>
                <div class="description__content">
                    <a href="#" class="description__link active">
                        <div class="description__title">Ordering web app</div>
                        <div class="description__text">Web interface with the same functionality as the mobile app for a customer, that allows user to login and order a ride. Ability to create a new order, view rides history, edit personal details, manage credit cards, etc. </div>
                    </a>
                    <a href="#" class="description__link">
                        <div class="description__title">Marketing site</div>
                        <div class="description__text">Marketing website or a simple landing page to promote your business and engage new customers. It may also contain the ordering widget, that allows users to order a ride in a few clicks and doesn’t require the registration.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="description__item">
            <div class="description__info wrapper">
                <div class="description__img">
                    <img src="img/notebook.png" alt="Product">
                </div>
                <div class="description__content">
                    <a href="#" class="description__link active">
                        <div class="description__title">Ordering web app</div>
                        <div class="description__text">Web interface with the same functionality as the mobile app for a customer, that allows user to login and order a ride. Ability to create a new order, view rides history, edit personal details, manage credit cards, etc. </div>
                    </a>
                    <a href="#" class="description__link">
                        <div class="description__title">Marketing site</div>
                        <div class="description__text">Marketing website or a simple landing page to promote your business and engage new customers. It may also contain the ordering widget, that allows users to order a ride in a few clicks and doesn’t require the registration.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="description__item">
            <div class="description__info wrapper">
                <div class="description__img">
                    <img src="img/notebook.png" alt="Product">
                </div>
                <div class="description__content">
                    <a href="#" class="description__link active">
                        <div class="description__title">Ordering web app</div>
                        <div class="description__text">Web interface with the same functionality as the mobile app for a customer, that allows user to login and order a ride. Ability to create a new order, view rides history, edit personal details, manage credit cards, etc. </div>
                    </a>
                    <a href="#" class="description__link">
                        <div class="description__title">Marketing site</div>
                        <div class="description__text">Marketing website or a simple landing page to promote your business and engage new customers. It may also contain the ordering widget, that allows users to order a ride in a few clicks and doesn’t require the registration.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="description__item">
            <div class="description__info wrapper">
                <div class="description__img">
                    <img src="img/notebook.png" alt="Product">
                </div>
                <div class="description__content">
                    <a href="#" class="description__link active">
                        <div class="description__title">Ordering web app</div>
                        <div class="description__text">Web interface with the same functionality as the mobile app for a customer, that allows user to login and order a ride. Ability to create a new order, view rides history, edit personal details, manage credit cards, etc. </div>
                    </a>
                    <a href="#" class="description__link">
                        <div class="description__title">Marketing site</div>
                        <div class="description__text">Marketing website or a simple landing page to promote your business and engage new customers. It may also contain the ordering widget, that allows users to order a ride in a few clicks and doesn’t require the registration.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="description__item">
            <div class="description__info wrapper">
                <div class="description__img">
                    <img src="img/notebook.png" alt="Product">
                </div>
                <div class="description__content">
                    <a href="#" class="description__link active">
                        <div class="description__title">Ordering web app</div>
                        <div class="description__text">Web interface with the same functionality as the mobile app for a customer, that allows user to login and order a ride. Ability to create a new order, view rides history, edit personal details, manage credit cards, etc. </div>
                    </a>
                    <a href="#" class="description__link">
                        <div class="description__title">Marketing site</div>
                        <div class="description__text">Marketing website or a simple landing page to promote your business and engage new customers. It may also contain the ordering widget, that allows users to order a ride in a few clicks and doesn’t require the registration.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="description__item">
            <div class="description__info wrapper">
                <div class="description__img">
                    <img src="img/notebook.png" alt="Product">
                </div>
                <div class="description__content">
                    <a href="#" class="description__link active">
                        <div class="description__title">Ordering web app</div>
                        <div class="description__text">Web interface with the same functionality as the mobile app for a customer, that allows user to login and order a ride. Ability to create a new order, view rides history, edit personal details, manage credit cards, etc. </div>
                    </a>
                    <a href="#" class="description__link">
                        <div class="description__title">Marketing site</div>
                        <div class="description__text">Marketing website or a simple landing page to promote your business and engage new customers. It may also contain the ordering widget, that allows users to order a ride in a few clicks and doesn’t require the registration.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>